html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.header h1 {
  font-family: 'Holtwood One SC', serif;
  font-size: 2.4rem;
  color: #FFC766;
  text-shadow: 0px 5px 0px rgba(201, 154, 72, 1);
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.info {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 20px;
}

.rating {
  display: inline-flex;
  list-style-type: none;
  padding: 5px;
  font-size: 24px;
  align-self: center;
}

.rating li {
  padding-left: 15px;
  min-width: 40px;
}

.moves {
  padding: 10px;
  align-self: center;
}

.timer {
  align-self: center;
  padding: 10px;
}

.reset {
  min-width: 45px;
  padding: 10px;
  cursor:pointer;
  align-self: center;
}

.reset-animate {
  animation-name: matching;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: matching;
  -webkit-animation-duration: 0.6s; 
  -webkit-animation-timing-function: ease-in-out;
}

main {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}

.deck {
  list-style-type: none;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 2em;
  background: linear-gradient(#001756, #00E1FF);
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
}

.card {
  min-height: 170px;
  max-height: 170px;
  min-width: 150px;
  max-width: 150px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  background-color: #2C4861;
}

/*
Example for proper (proportional) scaling of video/images
.container {
  width: 50%;
  height: 200px;
  overflow: hidden;
}

.container img {
  max-width: 100%;
  height: auto;
  display: block;
}
*/

@keyframes matching {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes incorrect {
  0% {right: 0px;}
  25% {right: 10px;}
  50% {left: 0px;}
  75% {left: 10px;}
  100% {right: 0px;}
}

@keyframes flip {
  0% {transform: rotateY(0deg);}
  50% {transform: rotateY(180deg);}
  100% {transform: rotateY(0deg);}
}

.deck li {
  cursor:pointer;
}

.deck li span {
  color: black;
}

.incorrect {
  background-color: #D51717;
  position: relative;
  animation-name: incorrect;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  -webkit-animation-name: incorrect;
  -webkit-animation-duration: 0.4s; 
  -webkit-animation-timing-function: linear;
}

.selected {
/*  padding: 30px;*/
  
  background-color: white; /* hightlight select color: #23CE6B*/
  pointer-events: none;
  cursor: default;
  animation-name: flip;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  -webkit-animation-name: flip;
  -webkit-animation-duration: 0.3s; 
  -webkit-animation-timing-function: linear;
}

.correct {
/*  padding: 30px;*/
  
  background-color: #48E500;
  pointer-events: none;
  cursor: default;
  position: relative;
  animation-name: matching;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: matching;
  -webkit-animation-duration: 0.6s; 
  -webkit-animation-timing-function: ease-in-out;
}

.default {
	display: none;
}

.lock {
  pointer-events: none;
}