/* Global Styles
===============================*/
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background: url("../imgs/game-bg.jpg") no-repeat center center fixed;
  background-size: cover;
}


/* Header and Info Section
===============================*/
.header h1 {
  font-family: 'Holtwood One SC', serif;
  font-size: 2.4rem;
  color: #FFC766;
  text-shadow: 0px 5px 0px rgba(201, 154, 72, 1);
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.info {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: 'Bungee Inline', cursive;
  color: #fff;
  font-size: 1.4rem;
}

.rating {
  display: inline-flex;
  list-style-type: none;
  padding: 5px;
  font-size: 24px;
  align-self: center;
}

.rating li {
  padding-left: 10px;
  min-width: 40px;
}

.moves {
  padding: 10px;
  align-self: center;
}

.timer {
  align-self: center;
  padding: 10px;
}

.reset {
  min-width: 45px;
  padding: 10px;
  cursor:pointer;
  align-self: center;
}

.reset-animate {
  animation-name: matching;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: matching;
  -webkit-animation-duration: 0.6s; 
  -webkit-animation-timing-function: ease-in-out;
}


/* Deck Styles
===============================*/
main {
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}

.deck {
  list-style-type: none;
  display: grid;
  grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
  padding: 2em;
  background: linear-gradient(#001756, #00E1FF);
  border-radius: 20px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
}

.card {
  min-height: 170px;
  max-height: 170px;
  min-width: 150px;
  max-width: 150px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 20px;
  text-align: center;
  background-color: #2C4861;
}

/*
Example for proper (proportional) scaling of video/images
.container {
  width: 50%;
  height: 200px;
  overflow: hidden;
}

.container img {
  max-width: 100%;
  height: auto;
  display: block;
}
*/

@keyframes matching {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes incorrect {
  0% {right: 0px;}
  25% {right: 10px;}
  50% {left: 0px;}
  75% {left: 10px;}
  100% {right: 0px;}
}

@keyframes flip {
  0% {transform: rotateY(0deg);}
  50% {transform: rotateY(180deg);}
  100% {transform: rotateY(0deg);}
}

.deck li {
  cursor:pointer;
}

.deck li span {
  color: black;
}

.incorrect {
  background-color: #D51717;
  position: relative;
  animation-name: incorrect;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  -webkit-animation-name: incorrect;
  -webkit-animation-duration: 0.4s; 
  -webkit-animation-timing-function: linear;
}

.selected {
/*  padding: 30px;*/
  
  background-color: white; /* hightlight select color: #23CE6B*/
  pointer-events: none;
  cursor: default;
  animation-name: flip;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  -webkit-animation-name: flip;
  -webkit-animation-duration: 0.3s; 
  -webkit-animation-timing-function: linear;
}

.correct {
/*  padding: 30px;*/
  
  background-color: #48E500;
  pointer-events: none;
  cursor: default;
  position: relative;
  animation-name: matching;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: matching;
  -webkit-animation-duration: 0.6s; 
  -webkit-animation-timing-function: ease-in-out;
}

.default {
	display: none;
}

.lock {
  pointer-events: none;
}



/* The Modal (background) */
.modal {
  display: flex; 
  display: none;/* Hidden by default */
  justify-content: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  background-color: #00A99D;
  /*margin: 25% auto; /* 15% from the top and centered */
  padding: 10%;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
  height: 100%;
  list-style-type: none;
  flex-direction: column;
}

.modal-content img {
  max-width: 120px;
  margin: 0 auto 0 auto;
}
.modal-content h2 {
  font-family: 'Alfa Slab One', cursive;
  color:  #FFC766;
  font-weight: 100;
  text-shadow: 0px 0px 8px rgba(255, 255, 130, 0.75);
/*  background-color: black;*/
  margin: 0 auto 0 auto;
}

.modal-content p {
  margin: 10px auto;
  color: #fff;
  font-family: 'Bungee Inline', cursive;
  font-weight: bold;
  font-size: 1.6rem;
}

.modal-content li {
  display: inline-flex;
}

.modal-content button {
  display: flex;
  padding: 1.3rem;
  margin-top: 50px;
  border-radius: 20px;
  font-family: 'Alfa Slab One', cursive;
  font-weight: 100;
  background-color: coral;
  color: antiquewhite;
  align-self: center;
}

/* The Close Button */
.close {
    float: right;
    color: #aaa;
    align-self: flex-start;
    font-size: 28px;
    font-weight: 800;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}